Release
Temp
Library/ShaderCache
*.rej
.DS_Store
*.log
Assets/Materials
Assets/Scripts/.gitignore
Library
Library/metadata
NPG.komodoproject
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
*.csproj
ProjectSettings/UnityAdsSettings.asset
ProjectSettings/UnityAnalyticsManager.asset
ProjectSettings/ProjectVersion.txt
*.sln
SwitchIL2CPPStats
SwitchIL2CPPCache

.vs/
obj/Debug/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
.vscode/settings.json
.vscode/launch.json
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Assets/data.sav
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor-firstpass.csprojAssemblyReference.cache
Assembly-CSharp.csproj.user
